<app-navbar></app-navbar>
<div class="loader" *ngIf="isLoading"></div>
<div *ngIf="!isLoading">
  <h1 class="text-center">{{ title }}</h1>
  <div id="menuDiv">
    <div class="menuItems">
      <img class="menuImages" src="../../../assets/snackImage.jpg">
      <h4>{{ menuItemsTitle[0] }}</h4>
      <ul *ngFor="let item of snackItems">
        <li>{{ item }}</li>
      </ul>
    </div>
    <div class="menuItems">
      <img class="menuImages" src="../../../assets/mainCourseImage.jpg">
      <h4>{{ menuItemsTitle[1] }}</h4>
      <ul *ngFor="let item of mainCourseItems">
        <li>{{ item }}</li>
      </ul>
    </div>
    <div class="menuItems">
      <img class="menuImages" src="../../../assets/sweetImage.jpg">
      <h4>{{ menuItemsTitle[2] }}</h4>
      <ul *ngFor="let item of sweetItems">
        <li>{{ item }}</li>
      </ul>
    </div>
    <div class="menuItems">
      <img class="menuImages" src="../../../assets/sweetImage.jpg">
      <h4>{{ menuItemsTitle[3] }}</h4>
      <ul *ngFor="let item of sweetItems">
        <li>{{ item }}</li>
      </ul>
    </div>
  </div>
</div>
